body {
    background-image:
    linear-gradient(to bottom, rgba(50, 53, 73,0.5), rgba(110, 111, 119,0.5)),
    url('drums.jpg');
}

.sound-buttons{
    text-align: center;
    margin-top: 300px;
}

button {
    /* position: absolute; */
    padding: 30px;
    color : white; 
    background-color: rgba(63, 54, 54, 0.493);
    font-weight: bolder;
    margin: 20px;
    font-size: 30px;
}

.button-class{
    transform: scale(1.2);
    border-color: yellow;
}

